mixin button-orange(name)
	a.button-orange(href="#")=name
		svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M1.5 13L13.5 1M13.5 1H1.5M13.5 1V13' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

mixin button-o(name)
	a.button-o(href="#")=name

mixin cardBtn()
	a.card-btn(href="#")
		svg(class="svg-1" width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M9.5 7H12.25L13 10M13 10L15.5 20H28L30.75 10H13Z' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round')
			circle(cx='16.25' cy='23' r='1.6' stroke='white' stroke-width='1.8')
			circle(cx='27.25' cy='23' r='1.6' stroke='white' stroke-width='1.8')
			path(d='M1 16H5M9 16H5M5 16V20M5 16V12' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round')
		svg(class="svg-2" width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M4.5 7H7.25L8 10L10.5 20H23L25.75 10' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round')
			circle(cx='11.25' cy='23' r='1.6' stroke='white' stroke-width='1.8')
			circle(cx='22.25' cy='23' r='1.6' stroke='white' stroke-width='1.8')
			path(d='M13 13.5L16 16.5L21 10' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round')


mixin cardListBtn(name)
	a.card-list-btn(href="#")
		svg(class="svg-1" width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M9.5 7H12.25L13 10M13 10L15.5 20H28L30.75 10H13Z' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round')
			circle(cx='16.25' cy='23' r='1.6' stroke='white' stroke-width='1.8')
			circle(cx='27.25' cy='23' r='1.6' stroke='white' stroke-width='1.8')
			path(d='M1 16H5M9 16H5M5 16V20M5 16V12' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round')
		svg(class="svg-2" width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M4.5 7H7.25L8 10L10.5 20H23L25.75 10' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round')
			circle(cx='11.25' cy='23' r='1.6' stroke='white' stroke-width='1.8')
			circle(cx='22.25' cy='23' r='1.6' stroke='white' stroke-width='1.8')
			path(d='M13 13.5L16 16.5L21 10' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round')
		span=name

mixin button-b(name)
	a.button-b(href="#")=name 

mixin button-c(name)
	a.button-c(href="#")
		span=name 
		svg(width='24' height='20' viewbox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M1 10H23M23 10L14 1M23 10L14 19' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
